h1 {
	text-align: center;
	color: #2674f6;
	margin-top: 20px;
  }
  
  .chat-container {
	width: 800px;
	height: 600px;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 5px;
	overflow: hidden;
  }
  
  .chat-log {
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow-y: scroll;
	box-sizing: border-box;
	white-space: pre-wrap;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .user-message {
	align-self: flex-end;
	background-color: #2674f6;
	padding: 10px;
	border-radius: 20px;
	margin: 10px;
	max-width: 60%;
	text-align: right;
	color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .ai-message {
	align-self: flex-start;
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 20px;
	margin: 10px;
	max-width: 60%;
	text-align: left;
	color: black;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .chat-input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 20px;
	width: 800px;
	margin: 0 auto;
	height: 200px;
  }
  
  #chat-input {
	height: 100%;
	margin-right: 10px;
	padding: 10px;
	border-radius: 20px;
	border: none;
	width: 80%;
	font-size: 20px;
	overflow: auto;
	resize: none;
  }
  
  .send-button {
	background-color: #2674f6;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
  }
  
  .send-button:hover {
	background-color: #135bd0;
  }
  
  .send-button:active {
	background-color: #0840a6;
  }
  
  .fa-paper-plane {
	margin-right: 10px;
  }
  
  .loading-icon {
	display: inline-block;
	animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px auto;
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	width: 400px;
  }
  
  .auth-form__input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  .auth-form__button {
	width: 100%;
	padding: 10px;
	background-color: #2674f6;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .auth-form__button:hover {
	background-color: #135bd0;
  }
  
  .auth-form__button:active {
	background-color: #0840a6;
  }
  