<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login - Chat Bot</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form" class="auth-form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="auth-button">Login</button>
      </div>
    </form>
    <script src="static/login.js"></script>
  </body>
</html>
